<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{title}}</h1>
        <form action="sumnit">
            <label for="">Escribe el id del ultimo twit del hilo que deseas buscar</label><br>
            <input type="text" name="" id="" placeholder='Twett ID'><br>
            <a id="myResults" href="#">results</a>
        </form>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>